<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="2020-BIM01A-P4-SushiConnectionString" connectionString="Data Source=SQL.BIM.OSOX.NL;Initial Catalog=2020-BIM01A-P4-Sushi;User ID=BIM01A2019;Password=BIM01A2019" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>